
<script>
  $(document).ready(function () {
    $('#open-sidebar').click(function () {
      $('#sidebar').toggleClass('active');
      $('#sidebar-overlay').toggleClass('d-none');
    });

    $('#sidebar-overlay').click(function () {
      $('#sidebar').removeClass('active');
      $('#sidebar-overlay').addClass('d-none');
    });
  });
</script>

</body>
</html>

<footer class="footer text-center">
    &copy; <%= new Date().getFullYear(); %> KaamKhoj
  </footer>
</body>
</html>