<%- include('./partials/header.ejs') %>

<div style="margin-top: 80px;">
  <div class="container">
    <h3 class="display-6 text-center text-danger">Oops! Something went wrong.</h3>
    <p class="lead text-center">We're sorry, but an error occurred while processing your request.</p>
    <p class="text-center mt-4">
      <a href="/" class="btn btn-primary">Go back to the homepage</a>
    </p>
  </div>
</div>

<%- include('./partials/footer.ejs') %>
