<%- include('./partials/header.ejs')  %>

<div class="container mt-5">
  <form action="/upload" method="POST">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" name="name" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Role</label>
        <div class="form-check">
          <input type="radio" id="jobProvider" name="role" class="form-check-input" value="jobProvider" required>
          <label for="jobProvider" class="form-check-label">Job Provider</label>
        </div>
      
        <div class="form-check">
          <input type="radio" id="jobSeeker" name="role" class="form-check-input" value="jobSeeker" required>
          <label for="jobSeeker" class="form-check-label">Job Seeker</label>
        </div>
      </div>
      

    <div class="mb-3">
      <label for="contactNumber" class="form-label">Contact Number</label>
      <input type="tel" class="form-control" id="contactNumber" name="contactNumber" required>
    </div>

    <div class="mb-3">
      <label for="location" class="form-label">Location</label>
      <input type="text" class="form-control" id="location" name="location" required>
    </div>

    <div class="mb-3">
      <label for="salary" class="form-label">Salary</label>
      <input type="text" class="form-control" id="salary" name="salary" required>
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<%- include('./partials/footer.ejs')  %>
