<%- include('./partials/header.ejs')  %>

<!-- main content -->
<main class="container-fluid">
  <section class="row">
    <div class="col-md-6 col-lg-4">
      <!-- card -->
      <article class="p-4 rounded shadow-sm border-left mb-4">
        <a href="/api/jobs" class="d-flex align-items-center">
          <span class="bi bi-box h5"></span>
          <h5 class="ml-2">HamroBazzar</h5>
        </a>
      </article>
    </div>
    <div class="col-md-6 col-lg-4">
      <article class="p-4 rounded shadow-sm border-left mb-4">
        <a href="/api/upload" class="d-flex align-items-center">
          <span class="bi bi-person h5"></span>
          <h5 class="ml-2">Upload</h5>
        </a>
      </article>
    </div>
    <div class="col-md-6 col-lg-4">
      <article class="p-4 rounded shadow-sm border-left mb-4">
        <a href="/api/view" class="d-flex align-items-center">
          <span class="bi bi-person-check h5"></span>
          <h5 class="ml-2">View Information</h5>
        </a>
      </article>
    </div>
  </section>

  <div class="jumbotron jumbotron-fluid rounded bg-white border-0 shadow-sm border-left px-4">
    <div class="container">
      <h1 class="display-4 mb-2 text-primary">KaamKhoj</h1>
      <p class="lead text-muted">
        KaamKhoj Web Portal
      </p>
    </div>
  </div>
</main>

<%- include('./partials/footer.ejs')  %>
