<%- include('./partials/header.ejs')  %>
<div class="container py-5 text-center vh-100">
  <h1 class="mb-4">Welcome to KaamKhoj Portal</h1>
  <h2><a href="/jobs" class="btn btn-lg btn-primary">Job Provider from HamroBazzar</a></h2>
  <h2><a href="/upload" class="btn btn-lg btn-primary">Upload Client's Information
  </a></h2>
</div>
<%- include('./partials/footer.ejs')  %>
